In [1]:
# autosave notebook after x seconds
%autosave 5

Autosaving every 5 seconds

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

First install sckit-learn, if you do not have it. For this: 

```python
>>>conda config --add channels conda-forge
>>>conda install scikit-learn
```
Then go back and run the first code cell.

In [3]:
# load the diabetes dataset into a Pandas DataFrame
df_original = pd.read_csv("diabetes_NAN.csv")
df_original.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
1,NaN,85,66,29,0,26.6,0.351,31,0
2,8.0,183,64,0,0,100.0,0.672,32,1
3,1.0,89,66,23,94,28.1,0.167,21,0
4,0.0,137,40,35,168,43.1,2.288,33,1

In [4]:
df_original.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.848761,120.894531,69.105469,20.536458,79.799479,32.092448,0.471876,33.240885,0.348958
std,3.370207,31.972618,19.355807,15.952218,115.244002,8.251150,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,100.000000,2.420000,81.000000,1.000000

In [5]:
df = df_original

# find rows with missing values
missing_rows = df[df.isnull().any(axis=1)]

# drop rows with missing values
df = df.dropna()

df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
2,8.0,183,64,0,0,100.0,0.672,32,1
3,1.0,89,66,23,94,28.1,0.167,21,0
4,0.0,137,40,35,168,43.1,2.288,33,1
5,5.0,116,74,0,0,25.6,0.201,30,0

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.848761,120.941330,69.109518,20.525424,79.903520,32.099609,0.472034,33.243807,0.349413
std,3.370207,31.967149,19.368112,15.959694,115.283105,8.254146,0.331516,11.767627,0.477096
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.350000,0.243500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.374000,29.000000,0.000000
75%,6.000000,140.500000,80.000000,32.000000,127.500000,36.600000,0.626500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,100.000000,2.420000,81.000000,1.000000

Alternatively, we can use the SimpleImputer class from scikit-learn to fill in the missing values with a specified value, such as the mean or median:

In [8]:
# create a SimpleImputer object
imputer = SimpleImputer(strategy="mean")

# fit the imputer to the data and transform the data to fill in missing values
df_imputed = imputer.fit_transform(df_original)

# convert the transformed data back into a Pandas DataFrame
df_imputed = pd.DataFrame(df_imputed, columns=df_original.columns)

In [9]:
# display the first five rows of the dataset (with removed NaNs via SimpleImputer)
df_imputed.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.000000,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,3.848761,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.000000,183.0,64.0,0.0,0.0,100.0,0.672,32.0,1.0
3,1.000000,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.000000,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0

Another important aspect of data cleaning is scaling the data. This is especially important for machine learning algorithms, as many of them are sensitive to the scale of the input data. We can use the StandardScaler class from scikit-learn to standardize the data:

In [10]:
# create a StandardScaler object
# check the docs: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
#note that we do not work with df_imputed , but with the dataframe df with removed NANS 

scaler = StandardScaler()

# fit the scaler to the data and transform the data to scale it
df_scaled = scaler.fit_transform(df)

# convert the transformed data back into a Pandas DataFrame
df_scaled = pd.DataFrame(df_scaled, columns=df.columns)

In [11]:
# display the first five rows of the original dataset 
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,72,35,0,33.6,0.627,50,1
2,8.0,183,64,0,0,100.0,0.672,32,1
3,1.0,89,66,23,94,28.1,0.167,21,0
4,0.0,137,40,35,168,43.1,2.288,33,1
5,5.0,116,74,0,0,25.6,0.201,30,0

In [12]:
# display the first five rows of the transformed dataset
df_scaled.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.638727,0.847005,0.149337,0.907538,-0.693559,0.181893,0.467752,1.424852,1.364529
1,1.232549,1.942593,-0.263983,-1.286918,-0.693559,8.231584,0.603580,-0.105766,1.364529
2,-0.845829,-0.999844,-0.160653,0.155153,0.122357,-0.484874,-0.920719,-1.041144,-0.732853
3,-1.142741,0.502677,-1.503942,0.907538,0.764674,1.333581,5.481338,-0.020732,1.364529
4,0.341816,-0.154676,0.252667,-1.286918,-0.693559,-0.787949,-0.818093,-0.275835,-0.732853